<table class="main_conteiner">            
    <tr>
        <td><div id="panel1"><a href="../pages/login.php">Логин</a></div></td>
        <td><div id="panel2"><a href="../pages/signup.php">Регистрация</a></div></td>
        <td><div id="panel3"><a href="../pages/cabinet.php">Кабинет</a></div></td>                
        <td><div id="panel4"><a href="../pages/goods.php">Товары</a></div></td>
        <td><div id="panel4"><a href="../pages/order.php">Корзина</a></div></td>
        <td><div id="panel5"><a href="../index.php">На главную</a></div></td>
    </tr>            
</table> 